kaiterra_api_key: {{ op://Personal/Kaiterra/api/api key }}
kaiterra_device_id: {{ op://Personal/Kaiterra/api/device id }}

pdu_rack_network_username: {{ op://Personal/pdu-rack-network/snmp v3/home assistant username }}
pdu_rack_network_auth_key: {{ op://Personal/pdu-rack-network/snmp v3/home assistant authentication passphrase }}
pdu_rack_network_priv_key: {{ op://Personal/pdu-rack-network/snmp v3/home assistant privacy passphrase }}
pdu_rack_network_snmp_read_community: {{ op://Personal/pdu-rack-network/snmp v1/read community }}
pdu_rack_network_snmp_read_write_community: {{ op://Personal/pdu-rack-network/snmp v1/read write community }}

ups_rack_snmp_read_community: {{ op://Personal/UPS Rack NMC 2/snmp v1/read community }}
ups_rack_snmp_read_write_community: {{ op://Personal/UPS Rack NMC 2/snmp v1/read write community }}
ups_rack_snmp_username: {{ op://Personal/UPS Rack NMC 2/snmp v3/home assistant username }}
ups_rack_snmp_auth_key: {{ op://Personal/UPS Rack NMC 2/snmp v3/home assistant authentication passphrase }}
ups_rack_snmp_priv_key: {{ op://Personal/UPS Rack NMC 2/snmp v3/home assistant privacy passphrase }}
